td label {
	margin-bottom: 8px;
	display: block;
	font-weight: bold;
}

table textarea {
	min-width: 500px;
	width: 100%;
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: fill-available;
}

.attention {
	color: #8A6D3B;
    font-weight: bold;
	margin-bottom: 4px !important;
	display: none;
}

#editor {
	margin: 0;
	max-height: 150px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

#file-read-error {
	color: #8e0707;
	font-weight: bold;
}

#results-wrapper {
	display: none;
}

#tags-inserted {
	color: #046d0c;
}

#tags-not-inserted {
	color: #8A6D3B;
}

#results {
	background: #ffd7d7;
    margin-top: 15px;
    overflow-y: scroll;
    max-height: 300px;
}

#results p:first-child { 
    margin-top: 10px;
}

#results p:last-child { 
    margin-bottom: 10px;
}